.projects/
.bundles/
.classpath
.DS_Store
.idea/
.project
.settings/
*.bak
*.bundle.js
*.bundle
*.iml
*.iml~
*.ipr
*.iws
*.log
*.hprof
*.vi
*~local.properties
application.conf
classes/
gen
gen-external-apklibs
local.properties
log/
out/
target/
Thumbs.db
**/*Framework/build/
/build/
!gradle-wrapper.jar
logs
npm-debug.log*
package-lock.json
yarn.lock
build/Release
node_modules/
jspm_packages/
typings/
.npm
build/
*.fab
webpack.config.d/
*_fab
DerivedData/
Builds/
xcuserdata
!xcschemes
*.moved-aside
!xcshareddata
!default.xcworkspace
*.xcworkspacedata
*.xccheckout
*.xcuserstate
*.xcscmblueprint
IDEWorkspaceChecks.plist
node_modules
dist/
static/
.env.local
.env.*.local
pnpm-debug.log*
.idea
.vscode
.cxx/
*.code-workspace
reports/
services-dist.zip
services-dist/
**/examples/out/
